studio-workspace/muletest1/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5bc255ce-c972-47c3-8b50-ac6caa230949" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<http:request-config name="HTTP_United_Rest_Request_configuration" doc:name="HTTP Request configuration" doc:id="094c338c-5192-4622-9a75-4bc718ca8add" basePath="/essentials/united/flights">
		<http:request-connection host="mu.mulesoft-training.com" port="80" />
	</http:request-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="8312711d-18bb-49a8-b100-2e31fa4b3806" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="d9a75755-d323-4d08-a15b-98544b338537" >
		<db:generic-connection url="jdbc:sqlserver://localhost:1433;databaseName=Person;user=sa;password=itechtions;instanceName=SQLEXPRESS" driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
	</db:config>
	<db:config name="Database_Config2" doc:name="Database Config" doc:id="94bf3db1-0c8b-4f6d-bede-5ab4e36d4211" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="helloWorldFlow" doc:id="0ef5b94e-9afe-4f80-b886-a29b2f67e3bc" >
		<http:listener doc:name="Listener" doc:id="dad5ad56-36d3-4b1e-9562-45a5d4eb82c6" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value="#['Hello, ' ++ (attributes.queryParams.fName default '')]" doc:name="Set Payload" doc:id="0060b83b-a451-475d-90d7-117e51f5bf0b" mimeType="text/plain" />
		<set-variable value="#[message.attributes.queryParams['type']]" doc:name="Set Variable" doc:id="d08052a1-fd93-4f28-9ef0-f02e5dd02645" variableName="type" />
		<logger level="INFO" doc:name="Logger" doc:id="8f4104e3-ef2f-4054-9602-131e6324aa39"/>
	</flow>
	<flow name="getUnitedFlightsFlow" doc:id="abaad5a8-d4f6-45e3-9b5c-f84a43aaa789" >
		<http:listener doc:name="Listener" doc:id="b9f805e5-7629-4184-9302-c601dbc929bb" config-ref="HTTP_Listener_config" path="/united"/>
		<set-variable value='#[message.attributes.queryParams.code default ""]' doc:name="setDestination" doc:id="f775c511-5ad5-4b8b-b982-f5f6a2c3f2f8" variableName="destination"/>
		<http:request method="GET" doc:name="United REST HTTP Request" doc:id="dc1f7444-7778-416b-80a3-b4684fde9289" config-ref="HTTP_United_Rest_Request_configuration" outputMimeType="application/json" path="#[vars.destination]">
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="50c470e3-20f5-4846-96ac-c0fd39a01e85" message="#[payload]"/>
	</flow>
	<flow name="training4-american-wsFlow" doc:id="8f7a254b-4eae-4b9c-aa88-6103e8a69189" >
		<db:select doc:name="Select" doc:id="2aaeaf10-6cf8-4175-a34b-fea76525c0f7" config-ref="Database_Config2">
			<db:sql >select * from american</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a5d0592d-c80e-4153-afba-01d5468d3074" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightsByID" doc:id="3bc7a6bb-4d19-4bf3-86c3-9b22667f140d" >
		<db:select doc:name="getFlights_Select" doc:id="4836b3f5-bf5c-4d9f-9c18-46c68cfc2e39" config-ref="Database_Config2" >
			<db:sql >select * from american where ID = :ID</db:sql>
			<db:input-parameters ><![CDATA[#[{'ID':attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="getFlights_Transform Message" doc:id="f917b2b4-5729-42c6-8216-c507dc9bb835" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postFlight" doc:id="2db26e81-1359-4667-9295-5bd306d68b8f" >
		<http:listener doc:name="Listener" doc:id="b3130eb4-93d9-497e-a9f0-d72c16b2006a" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="POST"/>
		<set-payload value='Flights added but not really' doc:name="Set Payload" doc:id="e7e84d49-c3f5-4279-8c57-d6bb61c09557" />
	</flow>
</mule>
