studio-workspace/apdev-examples/src/main/mule/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">

	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="ca6f5739-f57a-44bb-8a5f-571d2e0887b8" >
		<http:request-connection host="mu.learn.mulesoft.com" port="80" />
	</http:request-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="7f098778-c8ad-4886-9b52-8532e97f33a2" >
		<wsc:connection wsdlLocation="http://mu.learn.mulesoft.com/delta?wsdl" service="TicketServiceService" port="TicketServicePort" />
	</wsc:config>
	<flow name="helloFlow" doc:id="a69cadcb-45c9-4034-ab6d-2d967a3654d1" >
		<http:listener doc:name="GET /hello" doc:id="0f14b756-3837-4880-af7a-fb4bfa86420a" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : "Max"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<set-variable value="#[attributes.queryParams.fname]" doc:name="Set Variable" doc:id="ca061a6e-9957-4e7c-bb9d-79229c1758fa" variableName="myVar"/>
		<flow-ref doc:name="Flow Reference" doc:id="435d47e8-a914-47d3-9149-2f664f75b00c" name="subflow"/>
		<vm:publish queueName="goodbye" doc:name="VM goodbye" doc:id="e4eb3975-fc05-4b02-b3fb-04f453c03e24" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="9ae43b8e-53ea-4e4c-96b2-fea5e3f3e556" message="#['Message: ' ++ payload]"/>
	</flow>
	<sub-flow name="privateFlow" doc:id="f4875c81-1bb9-40d4-8a34-10f1127c6fab" >
		<http:request method="GET" doc:name="GET /goodbye" doc:id="55711498-bff3-4abe-82b5-715ca1cfec6c" config-ref="HTTP_Request_configuration" path="/goodbye">
			<http:headers><![CDATA[#[output application/java
---
{
	"name" : "Abner"
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
{
	"fullname" : attributes.queryParams.fname
}]]]></http:query-params>
		</http:request>
	</sub-flow>
	<sub-flow name="subflow" doc:id="b062281d-e002-4dc5-a990-ef9271cd3da7" >
		<set-variable doc:name="Set Variable" doc:id="fe7e02bb-6ad0-4b2a-a678-40d9c4d6f958" variableName="firstName" value="#[vars.myVar]"/>
		<set-payload value="hello" doc:name="Set Payload" doc:id="79416dd2-c1fc-4f99-982f-790596e1fdc3" mimeType="text/plain" />
	</sub-flow>
	<flow name="goodbyeFlow" doc:id="eeabced1-2018-4a02-9a43-fe79ecb9ff2f" >
		<vm:listener queueName="goodbye" doc:name="VM goodbye" doc:id="94a2edbf-d367-4cfb-a7d1-32a7e8b3de00" config-ref="VM_Config"/>
		<set-payload value="#[upper('Goodbyettt') ++ ' | ' ++ (attributes.queryParams.fullname default 'yy') ++ ' Header: ' ++ (attributes.headers.name default '')]" doc:name="Set Payload" doc:id="91e3485d-0a7d-4908-8d4f-0a3faadd69fc" mimeType="text/plain"/>
		<logger level="INFO" doc:name="Logger" doc:id="0d1ffed4-9494-426a-a7b4-36fb4e6099cb" message="#[payload]"/>
	</flow>
	<flow name="parentMainFlow" doc:id="e5e5e1c9-94c0-43b2-8a95-6d6424aaf10b" >
		<http:listener doc:name="Listener" doc:id="3c686ddf-c0d0-4d0b-9a31-cb8bb615aa47" config-ref="HTTP_Listener_config" path="/testvar">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"myHead" : vars.varTest
}]]]></http:headers>
			</http:response>
		</http:listener>
		<set-variable value="Pathik" doc:name="Set Variable" doc:id="8a9473a3-aeae-4c92-baef-afc615fd8ea2" variableName="varTest"/>
		<flow-ref doc:name="Flow Reference" doc:id="ab864b6b-93f6-4dce-ab69-9ddedc844f93" name="childFlow"/>
		<set-payload value="#[vars.varTest]" doc:name="Set Payload" doc:id="fcda5c83-c54f-49de-a1e8-17a23559f08f" />
		<logger level="INFO" doc:name="Logger" doc:id="82472634-cb67-4ba2-8584-86434d4e1275" />
	</flow>
	<flow name="childFlow" doc:id="d8f94b21-e757-4002-8673-b572d258f1fb" >
		<set-variable value="Abner" doc:name="Set Variable" doc:id="365e8347-683b-4360-b5a3-0dcc4aa61daf" variableName="varTest"/>
	</flow>
	<flow name="getUnitedFlights" doc:id="4648907f-d1e0-4ed7-a003-8750eac68a92" >
		<http:listener doc:name="GET /united" doc:id="5abd3fbb-4a93-4e18-a30e-289b19d21236" config-ref="HTTP_Listener_config" path="/united/{ddd}"/>
		<set-variable value="#[attributes.uriParams.ddd]" doc:name="Set Variable" doc:id="c4928f8d-76ad-4653-b9de-3e2e7a13af79" variableName="ccode"/>
		<flow-ref doc:name="setCode" doc:id="996072c1-ea72-4407-a017-d4f3e91a6cf6" name="setCode"/>
		<http:request method="GET" doc:name="Get flights" doc:id="e4f1c61c-0b14-454a-9e03-14b486f8e0a6" config-ref="HTTP_Request_configuration1" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
	</flow>
	<sub-flow name="setCode" doc:id="cb9ba590-339d-4410-bbcd-e95db7c18957" >
		<set-variable value="#[vars.ccode]" doc:name="Set Variable" doc:id="769d2c4e-b9a0-4868-8bed-6a7113fedb90" variableName="code"/>
	</sub-flow>
	<flow name="getDeltaFlights" doc:id="f11db10b-aa14-427e-8852-70fd5a799501" >
		<http:listener doc:name="GET /delta" doc:id="a6ff2e67-ab4e-4382-a125-0e03968275da" config-ref="HTTP_Listener_config" path="/delta" allowedMethods="GET"/>
		<set-variable value="LAX" doc:name="Set Variable" doc:id="73e1a63b-7da6-4b45-b242-8e7c24984185" variableName="destination"/>
		<ee:transform doc:name="Transform Message" doc:id="82bc23a0-baec-4cd1-84a4-39893c2a5515" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.destination
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="Consume" doc:id="d7415290-bef2-46b9-ab1a-cec635fcb47d" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="8f3f6e23-5235-46b1-a5e2-0d5f54f791ac" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
